
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <aside class="left-off-canvas-menu">
      
      <% if current_user %>  
      <!-- Off canvas profile partial -->
      <%= render "layouts/off_canvas_profile" %>
    <% end %> 
    </aside>

    <div class="wrapper">
      <div id="profile-button"><a class="left-off-canvas-toggle" href="#">&#9654;</a></div>  
        <div class="small-12 columns">

      <!-- other user partial-->
      <% if current_user != @user %>
      <div> <%= @user.username %> </div>
      <div> <%= @user.bio %> </div>
        <%= form_for @follow_request, url:  user_follows_path(@user) do |f| %>
          <%= f.submit 'Follow'%>
        <% end %> 
      <% else %>
        <%= render "users/new_post_form" %>
      <% end %>
      <!-- posts partial -->
      <%= render "users/post_feed" %>  
     
      <div class="push"></div>
    
    </div>

    <a class="exit-off-canvas"></a>

  </div>
</div>