<div id="profile-box">
  <img id="profile-pic" src="<%= current_user.profile_photo %>"/>
  <div id="profile-info">
    <div id="username"><h5><%= current_user.username %></h5></div>
    <section class="section">
      <div id="about" data-id="<%= current_user.id %>">
        <% if current_user.bio %>
          <h4>
            <small>
              <%= current_user.bio %>
            </small>
          </h4>
        <% else %> 
          <form>
            <input type="text"placeholder="Enter bio">
          </form>
        <% end %>
      </div>
      <div id="user-link">
        <% if current_user.personal_website %>
          <h4>
            <small>
              <a href="<%= current_user.personal_website %>">
                <%= current_user.personal_website %>
              </a>
            </small>
          </h4>
        <% else %>
          <form>
            <input type="text">
          </form>
        <% end %>
        <div>
    </section>
    <hr>
    <section class="section">
      <h4><small><a href="#">Following:</a> <%= current_user.followed_users.count %> </small></h4>
      <h4><small><a href="/users/<%= current_user.id %>/followers">Followers:</a> <%= current_user.followers.count %> </small></h4>
    </section>
    <hr>
  </div>
</div>