<div id="profile-box">
  <img id="profile-pic" src="<%= current_user.profile_photo %>"/>
  <div id="profile-info">
    <div id="username"><h5><%= current_user.username %></h5></div>
    <section class="section">
      <div id="about"><h4><small><%= current_user.bio %></small></h4></div>
      <div id="user-link"><h4><small><a href="www.google.com"><%= current_user.personal_website %></a></small></h4><div>
    </section>
    <hr>
    <section class="section">
      <h4><small><a href="#">Following:</a> <%= current_user.followed_users.count %> </small></h4>
      <h4><small><a href="#">Followers:</a> <%= current_user.followers.count %> </small></h4>
    </section>
    <hr>
  </div>
</div>